*.suo
*.user
*.FileListAbsolute.txt
bin/
obj/
*.ncb
*.nlb
*.aps
*.clw
*.pdb
*.obj
*.exe
*.pch
*.vspscc
*_i.c
*_p.c
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sig
_ReSharper*/
*.orig

**/[Pp]ackages
**/[Pp]ackages/*
!**/[Pp]ackages/[Rr]epositories.[Cc]onfig
**/.vs/
**/App_Data/*.cfs
**/App_Data/*.gen
**/App_Data/*.lock
**/App_Data/segment*
**/Properties/PublishProfiles/*
**/[Aa]pp.*.config
**/[Ww]eb.*.config