<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="blogml" version="2.2.0" targetFramework="net472" />
  <package id="log4net" version="2.0.12" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.50813.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Ninject" version="2.2.1.4" targetFramework="net472" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net472" />
</packages>